<% provide(:title, (@user.realname.blank? ? @user.username : @user.realname  ) + "'s Page" ) %>
<div class="row">
  <aside class="col-md-6">
    <section class="user_info">
      <h2>
        Your Account information
      </h2>
      <div class="col-md-4">
        <p>
          First & Last name: </br>
          Username: </br>
          Phone number: </br>
          Email: </br>
          Address: 
        </p>
      </div>
      <div class="col-md-8">
        <p>
          <%= @user.realname  %></br>
          <%= @user.username %></br>
          <%= @user.phone  %></br>
          <%= @user.email  %></br>
          <%= @user.address  %>
        </p>
      </div>
    </section>
  </aside>
  <aside class="col-md-6">
    <h2>
      Order <%= "History".pluralize(@user.orders.count)  %>
    </h2>
    <div class="col-md-12">
      <ul class="horizontal">
        <% @user.orders.each.with_index(1) do |order, index| %>
          <p> <%= link_to (index.ordinalize) + " order", order  %></p>
          <% order.line_items.each do |item| %>
            <li class="item">
              <%= item.quantity  %> x <%= item.product.title  %></br>
              <%= image_tag(item.product.img_url, class: 'image')  %></br>
            </li>
          <% end %>
          <%= button_to "Remove History", order_path(order), method: :delete, data: {confirm: 'Once deleted, history will be lost forever. Are you sure?'} %>
        <% end %>
      </ul>
    </div>
  </aside>
</div>
