<%= simple_form_for product, defaults: {input_html: {class: 'form-control'}} do |f| %>
  <%= render '/layouts/errormsg', x: @product %>
  <div class ="form-inputs">
    <%= f.input :title, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-font"></span></span>
      <%= f.input_field :title %>
    <% end %>
    <%= f.input :desc, label: 'Description', wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-comment"></span></span>
      <%= f.input_field :desc, as: :text %>
    <% end %>
    <%= f.input :img_url, label: 'Image Url', wrapper: :vertical_input_group do  %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
      <%= f.input_field :img_url %>
    <% end %>
    <%= f.input :price, wrapper: :vertical_input_group do %>
      <span class="input-group-addon"><span class="glyphicon glyphicon-usd"></span></span>
      <%= f.input_field :price %>
      <span class="input-group-addon">.00</span>
    <% end %>
    <%= f.button :submit  %>
  </div>
<% end %>
