<%= simple_form_for LineItem.new, defaults: { input_html: {class: 'form-control'}}  do |f| %>

  <%= f.input :product_id, as: :hidden, input_html: {value: x}  %>
  <%= f.input :add_quantity, wrapper: :horizontal_input_group do %>
    <span class="input-group-addon"><span class='glyphicon glyphicon-shopping-cart'></span></span>
    <%= f.input_field :add_quantity, value: 1 %>
  <% end %>
  <%= f.button :submit, yield(:button_text), class: "btn btn-primary"  %>
<% end %>
