<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |m_type, m| %>
        <div class="alert alert-<%= m_type %>"><%= m  %></div>
      <% end %>
      <h1><%= yield(:title) %></h1>
      <%= yield %>
      <div class="col-md-4">
        <%= link_to "Back", request.referer.present? ? request.referer : root_url %>
      </div>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development?  %>
    </div>
  </body>
</html>
